@font-face {
	font-family: "Gotham";
	src: url("fonts/Gotham/gotham.woff2") format("woff2"),
	url("/fonts/Gotham/gotham.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gotham";
	src: url("fonts/Gotham/gotham-Medium.woff2") format("woff2"),
	url("fonts/Gotham/gotham_Medium.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Orbitron";
	src: url("fonts/Orbitron/Orbitron-Regular.woff2") format("woff2"),
	url("fonts/Orbitron/Orbitron-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

/* Variables */
:root {
	--basic-black:#000000;
	--basic-white: #FFFFFF;
	--basic-gray: #6D6D6D;
	--headlines: #272727;
	--accent: #1E991B;
}

/* Global */
.page-body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: "Gotham", "Times New Roman", sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: bold;
	color: var(--basic-black);
	background-color: var(--basic-white);
	background-image: url("img/rectangle10.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;

	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a {
	text-decoration: none;
	color: var(--basic-white);
}

img {
	max-width: 100%;
	height: auto;
}

span {
	color: var(--accent);
}

.heading {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: var(--accent);
}

.visually-hedden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* Grid */
.page {
	height: 100%;
}

/* Button */
.button {
	font: inherit;
	text-align: center;
	color: var(--basic-white);
	vertical-align: middle;
	background-color: var(--accent);
	border: none;
}

/* Logo */
.logo {
	font-size: 32px;
	line-height: 38px;
	color: var(--basic-white);
	background-color: transparent;
}

/* Header */
.main-header {
	margin-bottom: 70px;
	width: 1180px;
	margin: 0 auto;
	padding: 2% 0;

	display: grid;
	grid-template-columns: 1fr 1fr;
}

.nav-header-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 20px;
	line-height: 24px;
	color: var(--basic-white);

	display: flex;
	align-items: stretch;
}

.nav-header-list li {
	width: max-content;
	margin-right: 40px;
}

.nav-header-list a {
	color: var(--basic-white);
}

/* main */
.introduction {
	width: 1180px;
	height: 875px;
	margin: 0 auto;
	padding: 2% 0;

	display: grid;
	grid-template-columns: 180px 820px 180px;
	grid-template-rows: 28% 25% 25% 22%;
}

/* Title */
.title {
	margin-bottom: 15px;
	min-height: 230px;
	font-size: 96px;
	line-height: 115px;
	color: var(--basic-white);

	grid-column: 2;
	grid-row: 2;
}

/* Rent */
.rent {
	margin-top: 80px;

	grid-column: 2;
	grid-row: 3;
}

.list-rent {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 36px;
	line-height: 43px;
	color: var(--basic-white);
}

.list-rent li:nth-child(2) {
	margin: 10px 0;
}

.button-rent {
	width: 350px;
	height: 49px;
	margin: 15px auto;
	padding: 10px;
	font-size: 24px;
	line-height: 29px;
}

/* USP */
.USP-left {
	position: relative;
	right: 45px;
	top: 20px;

	grid-column: 1;
	grid-row: 4;
}

.USP-right {
	position: relative;
	left: 45px;
	bottom: 230px;

	grid-column: 3;
	grid-row: 1;
}


.list-left, .list-right {
	list-style: none;
	font-size: 96px;
	line-height: 115px;
	color: var(--basic-white);
}

.list-left {
	height: 115px;
	transform: rotate(-90deg);
	opacity: 0.3;

	display: flex;
	align-items: stretch;
}

.list-left li {
	margin-right: 30px;
}

.list-right {
	height: 115px;
	transform: rotate(90deg);
	opacity: 0.3;

	display: flex;
	align-items: stretch;
}

.list-right li {
margin-right: 30px;
}

/* Socials */
.introduction .socials {
	margin-top: -30px;

	grid-column: 1;
	grid-row: 5;
}

.socials-list {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	align-items: stretch;
}

.socials-list li {
	margin-right: 15px;
}


/* Motopark */
.motopark {
	width: 1180px;
	margin: 0 auto;
	padding: 0;
}

.motopark .bread-crumbs {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.motopark .heading {
	margin-right: 50px;
}

.motopark-list {
	margin: 60px 0;
	padding: 0;
	list-style: none;
	font-size: 32px;
	line-height: 38px;
	
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.motopark-list li {
	width: max-content;
	margin-right: 50px;
	color: var(--basic-gray);
}

/* Gallery */
.gallery {
	width: 1180px;
	margin: 0 auto;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(4, 25%);
	grid-template-rows: 80% 20%;
}

.gallery img {
	background-color: var(--headlines);
}

.gallery-1, .gallery-2, .gallery-3, .gallery-4, .gallery-5, 
.button-left, .button-right, .button-view {
	position: relative;
}

.gallery-1 {
	top: 100px;
	right: 80px;
	width: 400px;
	height: 400px;

	grid-column: 1;
	grid-row: 1;
}

.gallery-2 {
	top: 100px;
	width: 400px;
	height: 400px;

	grid-column: 4;
	grid-row: 1;
}

.gallery-3 {
	top: 50px;
	right: 240px;
	width: 500px;
	height: 500px;

	grid-column: 2;
	grid-row: 1;
}

.gallery-4 {
	top: 50px;
	left: 40px;
	width: 500px;
	height: 500px;

	grid-column: 3;
	grid-row: 1;
}

.gallery-5 {
	width: 600px;
	height: 600px;
	grid-column: 2/4;
	grid-row: 1;
}

.gallery-item {
	width: 600px;

	grid-column: 2/4;
	grid-row: 2;
}

.name-item, .kind-item {
	position: relative;
	bottom: 680px;
	margin: 0 30px;
	font-size: 36px;
	line-height: 43px;
}

.name-item {
	color: var(--basic-white);
}

.kind-item {
	font-weight: 300;
	color: var(--basic-white);
}

.specification-item {
	position: relative;
	bottom: 180px;
	margin: 0;
	font-size: 20px;
	line-height: 24px;
	background-color: var(--basic-white);
}

.specification-list {
	width: 600px;
	min-height: 143px;
	margin: 0;
	padding: 0;
	list-style: none;
	color: var(--basic-gray);
}

.specification-list td {
	border-bottom: 1px dashed var(--basic-gray);
}

.specification-list td:nth-child(2) {
	font-family: "Orbitron", "Times New Roman", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	text-align: end;
	color: var(--basic-gray);
}

.button-left {
	top: 250px;
	width: 50px;
	height: 100px;
	border: none;
	background-color: transparent;

	grid-column: 1;
	grid-row: 1;
}

.button-right {
	top: 250px;
	left: -40px;
	width: 50px;
	height: 100px;
	border: none;
	background-color: transparent;

	grid-column: 5;
	grid-row: 1;
}

.button-view {
	top: 521px;
	width: 320px;
	height: 61px;
	margin: 0 auto;
	font-size: 24px;
	line-height: 29px;
	padding: 16px 32px;

	grid-column: 2/4;
	grid-row: 1;
}

/* Tariffs */
.tariffs {
	background-color: var(--headlines);
}

.tariffs-list {
	width: 1180px;
	margin: 0 auto;
	padding: 2% 0;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	column-gap: 40px;
}

.tariffs-list .heading {
	grid-column: 1/4;
}

.title-tariffs,
.tariffs p {
	text-align: center;
}

.title-tariffs {
	font-size: 24px;
	line-height: 29px;
}

.tariffs-list p {
	font-size: 24px;
	line-height: 29px;
}

.light {
	margin: 50px 0;
	width: 350px;
	height: 300px;
	background-color: var(--basic-white);
}

.light-list {
	list-style: none;
	font-weight: 400;
	color: var(--basic-black);
}

.light-list li {
	margin: 10px 0;
}

.light p {
	margin: 46px 20px 30px 20px;
}

.pro {
	width: 400px;
	height: 400px;
	background-color: var(--basic-black);
	color: var(--basic-white);
}

.pro-list {
	list-style: none;
	font-weight: 400;
}

.pro-list li {
	margin: 10px 0;
}

.pro p {
	margin: 51px 20px 30px 20px;
}

.pro span {
	color: var(--accent);
}

.medium {
	margin: 50px 0;
	justify-self: end;
	width: 350px;
	height: 300px;
	background-color: var(--basic-white);
}

.medium-list {
	list-style: none;
	font-weight: 400;
	color: var(--basic-black);
}

.medium-list li {
	margin: 10px 0;
}

.medium p {
	margin: 46px 20px 30px 20px;
}

/* Features */
.features {
	margin: 77px auto 80px auto;
	padding: 0;
	width: 1440px;
	min-height: 2272px;

	box-sizing: border-box;
}

.features .heading {
	padding-left: 112px;
}

.features-list {
	font-weight: bold;
	color: var(--basic-white);

	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	row-gap: 60px;
}

b {
	padding: 0 3px;
	color: var(--basic-black);
}

.trust {
	height: 678px;

	grid-row: 1;
}

.trust-list {
	position: relative;
	bottom: 700px;
	padding: 0;
	list-style: none;
	color: var(--basic-white);
}

.trust p {
	padding: 0;
	margin: 0;
	text-align: right;
}

.trust-list li {
	font-weight: 900;
	position: relative;
}

.trust-list li:nth-child(1) {
	padding-left: 250px;
	top: 234px;
	font-size: 96px;
	line-height: 115px;
}

.trust-list li:nth-child(2) {
	bottom: 30px;
	padding-left: 150px;
	font-family: "Orbitron", "Times New Roman", sans-serif;
	line-height: 627px;
	font-size: 500px;
	color: var(--headlines);
	opacity: 0.1;
}

.trust-list li:nth-child(3) {
	bottom: 405px;
	padding-left: 310px;
	font-size: 200px;
	line-height: 240px;
}

.trust-list li:nth-child(3) span {
	color: var(--headlines);
	opacity: 0.1;
}

.trust-list li:nth-child(4) {
	bottom: 460px;
	padding-left: 120px;
	font-size: 64px;
	line-height: 77px;
	text-align: center;
}

.trust-list li:nth-child(5) {
	bottom: 470px;
	padding-left: 400px;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
} 

.reviews {
	height: 678px;

	grid-row: 2;
}

.background-reviews {
	width: 1170px;
	height: 678px;
	padding: 0;
	margin: 0;
}

.background-reviews img {
	position: relative;
}

.background-reviews img:nth-child(1) {
	left: 800px;
	top: 40px;
	width: 357px;
	height: 355px;
}

.background-reviews img:nth-child(2) {
	bottom: 360px;
}

.reviews-list {
	bottom: 550px;
	font-size: 40px;
	line-height: 48px;
	list-style: none;
	color: var(--headlines);

	position: relative;
}

.reviews-list li {
	font-weight: 900;	
	position: relative;
}

.reviews-list li:nth-child(1) {
	padding-right: 80px;
	top: 80px;
	font-size: 84px;
	line-height: 77px;
	text-align: right;
}

.reviews-list li:nth-child(2) {
	padding-right: 190px;
	top: 170px;

	display: flex;
	flex-wrap: wrap;
	place-content: end;
}

.reviews-list li:nth-child(3) {
	padding-right: 240px;
	top: 150px;

	display: flex;
	flex-wrap: wrap;
	place-content: end;
}

.reviews-list span {
	font-family: "Orbitron", "Times New Roman", sans-serif;
	font-size: 128px;
	line-height: 141px;

	display: inline-block;
	margin-right: 32px;
}

.reviews-list li:nth-child(2) span {
	color: var(--basic-white);
}

.reviews-list li:nth-child(1) span {
	font-size: 40px;
	line-height: 48px;
	color: var(--basic-white);
}

.service {
	height: 678px;

	grid-row: 3;
}

.service-list {
	position: relative;
	bottom: 600px;
	padding: 0;
	list-style: none;
	color: var(--basic-white);
}

.service img {
	width: 1026px;
	height: 678px;
}

.service p {
	text-align: right;
}

.service-list li {
	font-weight: 900;

	position: relative;
}

.service-list li:nth-child(1) {
	font-family: "Orbitron", "Times New Roman", sans-serif;
	font-size: 500px;
	line-height: 627px;
	color: var(--headlines);
	opacity: 0.1;
}

.service-list li:nth-child(2) {
	bottom: 250px;
	padding-left: 20px;
	font-size: 96px;
	line-height: 115px;
}

.service-list b {
	display: inline-block;
	margin-right: 10px;
}

.service-list li:nth-child(3) {
	bottom: 270px;
	text-align: center;
	font-size: 64px;
	line-height: 77px;
	}

/* Contacts */
.contacts {
	font-weight: 700;
	font-weight: bold;
	background-color: var(--headlines);
}

.contacts-list {
	width: 1180px;
	margin: 0 auto;
	padding: 2% 0;

	display: grid;
	grid-column: 1fr 1fr;
	grid-row: min-content 2fr 1fr;
}

.contacts-list .heading {
	grid-column: 1/4;
	grid-row: 1;
}

/* Map */
.map {
	margin: 0;
	width: 625px;
	height: 625px;
	background-image: url("img/24.jpg");

	grid-column: 1;
	grid-row: span 2;
}


.info-map {
	margin-top: 47px;
	margin-left: 42px;
	width: max-content;
	align-items: center;
	background-color: var(--headlines);

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.info-map .logo {
	margin: 32px;
	margin-bottom: 10px;
}

.tel {
	margin-bottom: 32px;
	font: inherit;
	font-size: 20px;
	line-height: 24px;
	color: var(--basic-white);
}

.triangle {
	bottom: 141px;
	left: 249px;
	width: 139px;
	height: 46px;

	position: relative;
}

.icon-map {
	bottom: 92px;
	left: 243px;
	width: 50px;
	height: 50px;

	position: relative;
}

/* Form */
.feedback {
	padding: 15px 20px;
	width: 505px;
	height: 415px;
	color: var(--basic-white);
	background-color: var(--basic-black);

	box-sizing: border-box;
	grid-column: 2;
	grid-row: 2;
	justify-self: end;
}

.feedback-form {
	font-size: 20px;
	line-height: 24px;
}

.feedback-form input {
	width: 100%;
	height: 47px;
	font: inherit;
	color: var(--basic-black);
	background-color: var(--basic-white);
	border: none;
}

.button .feedback-submit {
	font: inherit;
	text-align: center;
	color: var(--basic-white);
	vertical-align: middle;
	background-color: var(--accent);
}

.feedback-submit {
	margin-bottom: 30px;
	width: 200px;
	height: 61px;
}

/* Schedule */
.schedule {
	margin-top: 33px;
	padding: 0 20px;
	width: 505px;
	height: 177px;
	color: var(--basic-white);
	background-color: var(--basic-black);

	box-sizing: border-box;
	grid-column: 2;
	grid-row: 3;
	justify-self: end;
}

.title-schedule {
	padding: 0;
	font-size: 36px;
	line-height: 43px;
}

.schedule-list {
	bottom: 40px;
	width: 100%;
	margin: 0;
	padding: 0;
	border-spacing: 0 15px;
	list-style: none;

	position: relative;
}

.weeksday td {
	border-bottom: 1px solid var(--basic-white);
}

.weekend td {
	border-bottom: 1px solid var(--accent);
}

.schedule-list td:nth-child(2) {
	text-align: end;
}


/* Footer */
.main-footer-background {
	background-color: var(--basic-black);
}

.main-footer {
	width: 1180px;
	margin: 0 auto;
	padding: 50px 0;
	color: var(--basic-white);

	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.more-list {
	margin: 0;
	padding: 0;
	list-style: none;

	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.more-list a {
	font-size: 20px;
	line-height: 24px;
	color: var(--basic-white);
}

.more-list li {
	margin-top: 14px;
	margin-right: 90px;
	width: max-content;
}

/* Modal */
.modal {
	color: var(--basic-white);
	background-color: transparent;
}

.form-button {
	padding: 20px;
	width: 400px;
	min-height: 78px;
}