@font-face {
	font-family: "Gotham";
	src: url("/Users/anastasia/Documents/moto/Gotham/gotham.woff2") format("woff2"),
	url("/Users/anastasia/Documents/moto/Gotham/gotham.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gotham";
	src: url("/Users/anastasia/Documents/moto/Gotham/gotham-Medium.woff2") format("woff2"),
	url("/Users/anastasia/Documents/moto/Gotham/gotham_Medium.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

/* Variables */
:root {
	--basic-black:#000000;
	--basic-white: #FFFFFF;
	--basic-gray: #6D6D6D;
	--headlines: #272727;
	--accent: #1E991B;
}

/* Global */
body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: "Gotham", Arial, sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
	color: var(--basic-black);
	background-color: var(--basic-white);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.main-h1 {
	font-size: 96px;
	line-height: 115px;
	color: var(--basic-white);
	background-color: var(--basic-black);
}

h2 {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: var(--accent);
}

.main-heder-logo {
	font-weight: bold;
	font-size: 32px;
	line-height: 38px;
	color: var(--basic-white);
	background-color: var(--basic-black);
}

span {
	color: var(--accent);
}


/* Main navigation */
.main-navigation {
	font-size: 20px;
	line-height: 24px;
	/*background-color: transparent;*/
	background-color: var(--basic-black);
}

.site-navigation-wrapper,
.for-partners,
.navigation-social-networks {
	list-style: none;
	color: var(--basic-white);
}

.site-navigation-wrapper a,
.for-partners a {
	color: var(--basic-white);
}
.navigation-social-networks{
		/*background-color: transparent;*/
	background-color: var(--basic-black);
}

.USP {
	font-size: 96px;
	line-height: 115px;
	color: var(--basic-white);
	/*background-color: transparent;*/
	background-color: var(--basic-black);
}

.USP-items {
	list-style: none;
}

/* Main products */
.gallery-content {
	background-color: var(--accent);
}
.main-products-items {
	font-size: 32px;
	line-height: 38px;
	list-style: none;
	color: var(--basic-gray);
}

.name-product {
	font-size: 36px;
	line-height: 43px;
	color: var(--basic-white);
	/*background-color: transparent;*/
	background-color: var(--basic-black);
}

.kind-products{
	font-weight: 300;
	font-size: 36px;
	line-height: 43px;
	color: var(--basic-white);
	/*background-color: transparent;*/
	background-color: var(--basic-black);
}

.characteristic {
	font-size: 20px;
	line-height: 24px;
	color: var(--basic-gray);
}

/* tariffs */

.tariffs{
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	background-color: var(--headlines);
}

.light-tariffs {
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.light-tariffs h3 {
	color: var(--headlines);
}

.tariffs-items {
	color: var(--accent);
}

.tariffs-items span {
color: var(--basic-black);
}

.pro-tariffs{
	color: var(--basic-white);
	background-color: var(--basic-black);
}
.tariffs-items-pro {
	color: var(--accent);
}

.tariffs-items-pro span {
color: var(--basic-white);
}

.medium-tariffs{
	color: var(--basic-black);
	background-color: var(--basic-white);
}

.medium-tariffs h3 {
	color: var(--headlines);
}

/* Button */
.button {
	font: inherit;
	text-align: center;
	color: var(--basic-white);
	vertical-align: middle;
	background-color: var(--accent);
	border: none;
}

/* Contacts */

.contacts {
	background-color: var(--headlines);
}

.schedule {
	font-weight: 700;
	font-size: 16px;
	line-height: 19px;
	color: var(--basic-white);
	background-color: var(--basic-black);
}


/* Form */
.form {
	color: var(--basic-white);
	background-color: var(--basic-black);
}

.appointment-form-items {
	font-size: 20px;
	line-height: 24px;
}

.appointment-form-items input{
	font: inherit;
	color: var(--basic-black);
	background-color: var(--basic-white);
	border: none;
}

/* footer */
.main-footer{
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	color: var(--basic-white);
	background-color: var(--basic-black);
}

/* Modal */
.modal {
	color: var(--basic-white);
	background-color: var(--accent);
}

/* FAQ */
.FAQ {
	font-weight: bold;
	color: var(--basic-gray);
	background-color: transparent;
}

.FAQ-h1 a {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: var(--accent);
}

.FAQ-navigation {
	font-size: 20px;
	line-height: 24px;
	color: var(--headlines);
	background-color: transparent;
}

.FAQ-navigation-wrapper {
	list-style: none;
	color: var(--basic-black);
}

.FAQ-navigation-wrapper a {
	color: var(--basic-black);
}

.bread-crumbs a {
	font-size: 32px;
	line-height: 38px;
	color: var(--basic-gray);
}

.bread-crumbs {
	list-style: none;
}

.answers h2 {
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: var(--headlines);
}

.answers-items {
	color: var(--accent);
}

.answers-items span {
color: var(--basic-black);
}