@font-face {
	font-family: "Gotham";
	src: url("/Users/anastasia/Documents/moto/fonts/Gotham/gotham.woff2") format("woff2"),
	url("/Users/anastasia/Documents/moto/fonts/Gotham/gotham.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gotham";
	src: url("/Users/anastasia/Documents/moto/fonts/Gotham/gotham-Medium.woff2") format("woff2"),
	url("/Users/anastasia/Documents/moto/fonts/Gotham/gotham_Medium.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Orbitron";
	src: url("/Users/anastasia/Documents/moto/fonts/Orbitron/Orbitron-Regular.woff2") format("woff2"),
	url("/Users/anastasia/Documents/moto/fonts/Orbitron/Orbitron-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

/* Variables */
:root {
	--basic-black:#000000;
	--basic-white: #FFFFFF;
	--basic-gray: #6D6D6D;
	--headlines: #272727;
	--accent: #1E991B;
}

/* Global */
.page-body {
	min-width: 1440px;
	margin: 0;
	padding: 0;
	font-family: "Gotham", "Times New Roman", sans-serif;
	font-size: 16px;
	line-height: 19px;
	font-weight: 500;
	font-weight: bold;
	color: var(--basic-black);
	background-color: var(--basic-white);
	background-image: url("/Users/anastasia/Documents/moto/img/rectangle10.jpg");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;

	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

span {
	color: var(--accent);
}

.heading {
	font-weight: 700;
	font-size: 48px;
	line-height: 58px;
	color: var(--accent);
}

/* Grid */
.page {
	height: 100%;
}

/* Button */
.button {
	font: inherit;
	text-align: center;
	color: var(--basic-white);
	vertical-align: middle;
	background-color: var(--accent);
	border: none;
}

/* Logo */
.logo {
	font-size: 32px;
	line-height: 38px;
	color: var(--basic-white);
	background-color: transparent;
}

/* Header */
.main-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-bottom: 70px;
	width: 1180px;
	margin: 0 auto;
	padding: 2% 0;
	outline: 5px solid blue;
	outline-offset: -5px;
}

.nav-header-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 20px;
	line-height: 24px;
	color: var(--basic-white);
}

.nav-header-list a {
	color: var(--basic-white);
}

/* main */
.main-body {
	outline: 5px solid yellow;
	outline-offset: -5px;
}

.introduction {
	width: 1180px;
	margin: 0 auto;
	padding: 2% 0;
	outline: 5px solid gold;
	outline-offset: -5px;
}

/* Title */
.title {
	font-size: 96px;
	line-height: 115px;
	color: var(--basic-white);
}

/* Rent */
.list-rent {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 36px;
	line-height: 43px;
	color: var(--basic-white);
}

.button .rent {
	padding: 10px;
}

/* USP */
.list-USP {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 96px;
	line-height: 115px;
	color: var(--accent);
}

.list-USP li:nth-child(-n+3) {
	opacity: 0.3;
	transform: rotate(-90deg);
}

.list-USP li:nth-child(n+4) {
	opacity: 0.3;
	transform: rotate(90deg);
}

/* Socials */
.socials {
background-color: var(--basic-gray);
}

.socials-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.socials-list a {
	color: var(--basic-white);
}

/* Motopark */
.motopark {
	width: 1180px;
	margin: 0 auto;
	padding: 2% 0;
	outline: 5px solid brown;
	outline-offset: -5px;
}

.motopark .bread-crumbs {
	display: grid;
	grid-template-columns: 1fr 4fr;
}

.motopark .heading {
	outline: 5px solid powderblue;
	outline-offset: -5px;
}

.motopark-list {
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 32px;
	line-height: 38px;
	color: var(--headlines);
	outline: 5px solid rgb(247, 157, 2);
	outline-offset: -5px;
}


/* Gallery */
.gallery {
	width: 1180px;
	margin: 0 auto;
	padding: 2% 0;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 4fr 1fr;
	outline: 5px solid palegreen;
	outline-offset: -5px;
}

.gallery-1, .gallery-2, .gallery-3, .gallery-4, .gallery-5, 
.button-left, .button-right, .button-view {
	position: relative;
}

.gallery-1 {
	top: 100px;
	left: -80px;
	width: 400px;
	height: 400px;

	grid-column: 1;
	grid-row: 1;
}

.gallery-2 {
	top: 100px;
	left: -50px;
	width: 400px;
	height: 400px;

	grid-column: 3;
	grid-row: 1;
}

.gallery-3 {
	top: 50px;
	left: -320px;
	width: 500px;
	height: 500px;

	grid-column: 2;
	grid-row: 1;
}

.gallery-4 {
	top: 50px;
	left: -300px;
	width: 500px;
	height: 500px;

	grid-column: 3;
	grid-row: 1;
}

.gallery-5 {
	width: 600px;
	height: 600px;
	left: -100px;
	grid-column: 2/4;
	grid-row: 1;
}

.gallery-item {
	width: 600px;
	background-color: #000000;

	grid-column: 2/4;
	grid-row: 2;
}

.name-item {
	font-size: 36px;
	line-height: 43px;
	color: var(--basic-white);
}

.kind-item {
	font-weight: 300;
	font-size: 36px;
	line-height: 43px;
	color: var(--basic-white);
}

.specification-item {
	background-color: var(--basic-white);
}

.specification-list {
	margin: 0;
	padding: 0;
	list-style: none;
	color: var(--basic-gray);
}

.specification-list span {
	font-family: "Orbitron", "Times New Roman", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 25px;
	color: var(--basic-gray);
}

.button-left {
	top: 250px;
	width: 50px;
	height: 100px;
	border: none;
	background-color: transparent;

	grid-column: 1;
	grid-row: 1;
}

.button-right {
	top: 250px;
	right: 270px;
	width: 50px;
	height: 100px;
	border: none;
	background-color: transparent;

	grid-column: 4;
	grid-row: 1;
}

.button-view {
	top: 521px;
	left: 25px;
	width: 320px;
	height: 61px;
	font: inherit;
	font-size: 24px;
	line-height: 29px;
	padding: 16px 32px;
	color: var(--basic-white);
	background-color: var(--accent);
	border: none;

	grid-column: 2/4;
	grid-row: 1;
}

/* Tariffs */
.tariffs {
	background-color: var(--headlines);
	outline: 5px solid blueviolet;
	outline-offset: -5px;
}

.tariffs-list {
	width: 1180px;
	margin: 0 auto;
	padding: 2% 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.tariffs-list .heading {
	grid-column: 1/4;
}

.title-tariffs,
.tariffs p {
	text-align: center;
}

.title-tariffs {
	font-size: 24px;
	line-height: 29px;
}

.tariffs-list p {
	font-size: 24px;
	line-height: 29px;
}

.light {
	margin: 50px 0;
	width: 350px;
	height: 300px;
	background-color: var(--basic-white);
}

.light-list {
	list-style: none;
	font-weight: 400;
	color: var(--basic-black);
}

.light-list li {
	margin: 10px 0;
}

.light p {
	margin: 46px 20px 30px 20px;
}

.pro {
	width: 400px;
	height: 400px;
	background-color: var(--basic-black);
	color: var(--basic-white);
}

.pro-list {
	list-style: none;
	font-weight: 400;
}

.pro-list li {
	margin: 10px 0;
}

.pro p {
	margin: 51px 20px 30px 20px;
}

.pro span {
	color: var(--accent);
}

.medium {
	margin: 50px 0;
	justify-self: end;
	width: 350px;
	height: 300px;
	background-color: var(--basic-white);
}

.medium-list {
	list-style: none;
	font-weight: 400;
	color: var(--basic-black);
}

.medium-list li {
	margin: 10px 0;
}

.medium p {
	margin: 46px 20px 30px 20px;
}

/* Features */
.features {
	width: 1180px;
	margin: 0 auto;
	padding: 2% 0;
	outline: 5px solid pink;
	outline-offset: -5px;
}

.features-list {
	font-weight: 700;
	font-weight: bold;
	color: var(--basic-white);
}

b {
	color: var(--basic-black);
}

.trust {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 1026px;
	height: 678px;
	color: var(--basic-white);
	background-image: url("/Users/anastasia/Documents/moto/img/18.jpg");
}

.trust li:nth-child(1) {
	font-size: 96px;
	line-height: 115px;
}


.trust li:nth-child(2) {
	font-family: "Orbitron", "Times New Roman", sans-serif;
	font-style: normal;
	line-height: 100px;
	font-size: 100px;
	font-weight: 700;
	color: var(--headlines);
}
/*
	opacity: 0.1;
	line-height: 627px;
	font-size: 500px;
*/

.trust li:nth-child(3) {
	font-size: 200px;
	line-height: 240px;
}

.trust li:nth-child(3) span {
	color: var(--headlines);
}

.trust li:nth-child(4) {
	font-size: 64px;
	line-height: 77px;
}

.trust li:nth-child(5) {
	font-size: 48px;
	line-height: 58px;
} 

.reviews {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 1026px;
	height: 678px;
	background-image: url("/Users/anastasia/Documents/moto/img/19.jpg");
}


.reviews li:nth-child(1) {
	font-family: "Orbitron", "Times New Roman", sans-serif;
}
/*
	font-size: 500px;
	line-height: 627px;
	font-size: 64px;
	line-height: 77px;
}
*/


.reviews li:nth-child(-n+3) b {
	font-family: "Gotham", "Times New Roman", sans-serif;
	font-size: 40px;
	line-height: 48px;
}

.reviews li:nth-child(1) b {
	font-family: "Gotham", "Times New Roman", sans-serif;
	font-size: 64px;
	line-height: 77px;
}

.reviews li:nth-child(2) {
	font-family: "Orbitron", "Times New Roman", sans-serif;
	font-size: 128px;
	line-height: 161px;
}

.reviews span {
	font-family: "Orbitron", "Times New Roman", sans-serif;
	font-size: 128px;
	line-height: 161px;
}

.service{
	margin: 0;
	padding: 0;
	list-style: none;
	width: 1026px;
	height: 678px;
	background-image: url("/Users/anastasia/Documents/moto/img/20.jpg");
}

.service li:nth-child(1) {
	font-family: "Orbitron", "Times New Roman", sans-serif;
	color: var(--headlines);
	opacity: 0.1;
}
/*
font-size: 500px;
line-height: 627px;
}
*/

.service li:nth-child(2) {
font-size: 96px;
line-height: 115px;
}

.service li:nth-child(3) {
	font-size: 64px;
	line-height: 77px;
	}

/* Contacts */
.contacts {
	font-weight: 700;
	font-weight: bold;
	background-color: var(--headlines);
	outline: 5px solid green;
	outline-offset: -5px;
}

.contacts-list {
	width: 1180px;
	margin: 0 auto;
	padding: 2% 0;

	display: grid;
	grid-column: 1fr 1fr;
	grid-row: min-content 2fr 1fr;
}

.contacts-list .heading {
	grid-column: 1/4;
	grid-row: 1;
}

/* Map */
.map {
	margin: 0;
	width: 625px;
	height: 625px;

	grid-column: 1;
	grid-row: span 2;
	outline: 5px solid green;
	outline-offset: -5px;
}

/* Form */
.feedback {
	box-sizing: border-box;
	width: 505px;
	height: 415px;
	padding: 20px 30px;
	color: var(--basic-white);
	background-color: var(--basic-black);
	outline: 5px solid red;
	outline-offset: -5px;

	grid-column: 2;
	grid-row: 2;
	justify-self: end;
}

.feedback-form {
	margin: 15px 0;
	font-size: 20px;
	line-height: 24px;
}

.title-feedback {
	display: none;
}

.feedback-form input{
	width: 465px;
	height: 47px;
	font: inherit;
	color: var(--basic-black);
	background-color: var(--basic-white);
	border: none;
}

.button .feedback-submit {
	font: inherit;
	text-align: center;
	color: var(--basic-white);
	vertical-align: middle;
	background-color: var(--accent);
}

.feedback-submit {
	margin: 15px 0;
	width: 200px;
	height: 61px;
}

/* Schedule */
.schedule {
	box-sizing: border-box;
	padding: 0 20px;
	width: 505px;
	height: 177px;
	color: var(--basic-white);
	background-color: var(--basic-black);
	outline: 5px solid pink;
	outline-offset: -5px;

	grid-column: 2;
	grid-row: 3;
	justify-self: end;
}

.title-schedule {
	font-size: 36px;
	line-height: 43px;
}

.schedule-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Footer */
.main-footer-background {
	background-color: var(--basic-black);
}
.main-footer {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	width: 1180px;
	margin: 0 auto;
	padding: 2% 0;
	color: var(--basic-white);
	outline: 5px solid red;
	outline-offset: -5px;
}

.more-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.more-list a {
	font-size: 20px;
	line-height: 24px;
	color: var(--basic-white);
}

/* Modal */
.modal {
	color: var(--basic-white);
	background-color: var(--accent);
}